//-录入页是一个表单，需要用到很多字段
extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-8
                form.form-horizontal#atmForm(method='post',action='/admin/atm',enctype='multipart/form-data')
                    //-隐藏域，表示atm是新录入或者更新的
                    if atm._id
                        input(type="hidden",name='atm[_id]',value=atm._id)

                    .form-group
                        label.col-sm-4.control-label(for='inputAtmId') ATM ID:
                        .col-sm-6
                            input#inputAtmId.form-control(type='text',name='atm[atmId]',value=atm.atmId)

                    .form-group
                        label.col-sm-4.control-label(for='inputLocation') 位置:
                        .col-sm-6
                            input#inputLocation.form-control(type='text',name='atm[location]',value=atm.location)

                    .form-group
                        label.col-sm-4.control-label(for='') 支持交易:
                        .col-sm-4.col-sm-offset-1
                            if atm.supportedTxns && atm.supportedTxns!=""
                                - var checkINQ,checkCWD,checkDEP,checkTFR
                                each txn in atm.supportedTxns
                                    if(!checkINQ)
                                        - checkINQ=txn=="查询余额"
                                    if(!checkCWD)
                                        - checkCWD=txn=="取款"
                                    if(!checkDEP)
                                        - checkDEP=txn=="存款"
                                    if(!checkTFR)
                                        - checkTFR=txn=="转账"
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='查询余额' checked=checkINQ)
                                    |查询余额
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='取款' checked=checkCWD)
                                    |取款
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='存款' checked=checkDEP)
                                    |存款
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='转账' checked=checkTFR)
                                    |转账
                            else
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='查询余额')
                                    |查询余额
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='取款')
                                    |取款
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='存款')
                                    |存款
                                .checkbox
                                    input(type='checkbox' name='atm[supportedTxns]' value='转账')
                                    |转账

                    .form-group
                        label.col-sm-4.control-label(for='inputBank') 所属银行:
                        .col-sm-6
                            input#inputBank.form-control(type='text',name='atm[bank]',value=atm.bank)

                    .form-group
                        label.col-sm-4.control-label(for='inputModel') 机型:
                        .col-sm-6
                            input#inputModel.form-control(type='text',name='atm[model]',value=atm.model)

                    .form-group
                        label.col-sm-4.control-label(for='inputVendor') 供应商:
                        .col-sm-6
                            input#inputVendor.form-control(type='text',name='atm[vendor]',value=atm.vendor)

                    .form-group
                        label.col-sm-4.control-label(for='inputPicture') 机器图片地址:
                        .col-sm-6
                            input#inputPicture.form-control(type='text',name='atm[picture]',value=atm.picture)

                    .form-group
                        label.col-sm-4.control-label(for='uploadPicture') 上传机器图片:
                        .col-sm-6
                            input#uploadPicture.form-control(type='file',name='uploadPicture')

                    .form-group
                        .col-sm-offset-3.col-sm-3
                        button.btn.btn-info#createAtm(type='submit') 添加

