
extend ../blockchainInfo
block content
    .container  
        .row
            .col-md-3
                image.atmPicture(src="/upload/"+atm.picture)            
            .col-md-5
                dl.dl-horizontal
                    dt ATM ID:
                    dd=atm.atmId
                    dt 地理位置:
                    dd=atm.location
                    dt 支持交易:
                    dd=atm.supportedTxns
                    dt 所属银行:
                    dd=atm.bank.name
                    dt 设备型号:
                    dd=atm.model
                    dt 供应商:
                    dd=atm.vendor
                    dt 现金账户余额:
                    dd=atm.cashAccountBalance
                    dt 区块链http地址:
                    dd=atm.ip
                    dt 区块链账户地址:
                    dd=atm.blockAccount
                    dt 区块链账户余额:
                    dd=atm.blockAccountBalance