extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-10
                table.table.table-hover.table-bordered
                    thead
                        tr.active
                            th ATM ID
                            th 所属银行
                            th 支持交易
                            th 录入时间
                            th 查看
                            th 更新
                            th 删除
                        tbody
                            each item in atms
                                tr(class='.item-id-#{item._id}')
                                    td #{item.atmId}
                                    td #{item.bank}
                                    td #{item.supportedTxns}
                                    //-对录入时间进行格式化
                                    td #{moment(item.meta.updateAt).format('YYYY-MM-DD HH:mm:ss')}
                                    td: a(href='/atm/#{item._id}') 查看
                                        span.glyphicon.glyphicon-search
                                    td: a(href='/admin/atm/update/#{item._id}') 修改
                                        span.glyphicon.glyphicon-pencil
                                    td
                                        button.btn.btn-danger.del.tempAtm(data-toggle="modal",data-target="#delModal",data-id="#{item._id}",data-atmid="#{item.atmId}",data-bank="#{item.bank}",data-picture="#{item.picture}") 删除
                                            span.glyphicon.glyphicon-trash
                        //-删除确认框
                        #delModal.modal.fade
                            .modal-dialog
                                .modal-content
                                    .modal-header.h4 删除提醒
                                    .modal-body 确认删除？
                                    .modal-footer
                                        button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                                        button.btn.btn-danger#delAtm(type="button" data-dismiss="modal") 确认
                                            span.glyphicon.glyphicon-remove
