extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-10
                table.table.table-hover.table-bordered
                    thead
                        tr.active
                            th 银行名字
                            th 录入时间
                            th 更新
                            th 删除
                        tbody
                            each item in banks
                                tr(class='.item-id-#{item._id}')
                                    td #{item.name}
                                    //-对录入时间进行格式化
                                    td #{moment(item.meta.updateAt).format('YYYY-MM-DD HH:mm:ss')}
                                    td: a(href='/admin/bank/update/#{item._id}') 修改
                                        span.glyphicon.glyphicon-pencil
                                    td
                                        button.btn.btn-danger.tempBank(data-toggle="modal",data-target="#delModal" data-id="#{item._id}" ) 删除
                                            span.glyphicon.glyphicon-trash
                //-删除确认框    
                #delModal.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header.h4 删除提醒
                            .modal-body 确认删除？
                            .modal-footer
                                button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                                button.btn.btn-danger#delBank(type="button" data-dismiss="modal") 确认
                                    span.glyphicon.glyphicon-remove
