extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-10
                table.table.table-hover.table-bordered
                    thead
                        tr.active
                            th BIN
                            th 所属银行
                            th 录入时间
                            th 更新
                            th 删除
                        tbody
                            each item in binMappings
                                tr(class='.item-id-#{item._id}')
                                    td #{item.bin}
                                    td #{item.bank.name}
                                    //-对录入时间进行格式化
                                    td #{moment(item.meta.updateAt).format('YYYY-MM-DD HH:mm:ss')}
                                    td: a(href='/admin/bin/update/#{item._id}') 修改
                                        span.glyphicon.glyphicon-pencil
                                    td
                                        button.btn.btn-danger.tempBinObj(data-toggle="modal",data-target="#delModal", data-id="#{item.id}", data-bin="#{item.bin}",data-bank="#{item.bank}") 删除
                                            span.glyphicon.glyphicon-trash
                //-删除确认框
                #delModal.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header.h4 删除提醒
                            .modal-body 确认删除？
                            .modal-footer
                                button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                                button.btn.btn-danger#delBin(type="button" data-dismiss="modal") 确认
                                    span.glyphicon.glyphicon-remove
