//-录入页是一个表单，需要用到很多字段
extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-8
                .form-horizontal
                    //-隐藏域，表示card是新录入或者更新的
                    if card._id
                        input#cardId(type="hidden",name='card[_id]',value=card._id)

                    //-一个银行可以有多张卡,一张卡只可以属于一个银行
                    .form-group
                        label.col-sm-4.control-label(for='cardBank') 所属银行:
                        #cardBank
                            each bank in banks
                                label.radio-inline
                                    if card._id
                                        input(disabled type="radio",name="card[bank]",value="#{bank._id}",checked=bank._id.toString()==card.bank.toString(),data-bins="#{bank.bins}")
                                        | #{bank.name}
                                    else
                                        input(type="radio",name="card[bank]",value="#{bank._id}",data-bins="#{bank.bins}")
                                        | #{bank.name}
                           
                                
                    //-前六位为选择的银行对应可以选择的bin，若该银行无可选的bin则需提示
                    .form-group
                        label.col-sm-4.control-label(for='cardNumber') 卡号:
                        if card._id
                            select.col-sm-2.form-control#cardBin(disabled)
                                option#oldCardBin(name="card[bin]") #{card.number.substring(0,6)}
                        else
                            select.col-sm-2.form-control#cardBin
                                if card._id
                                    option#oldCardBin(name="card[bin]") #{card.number.substring(0,6)}

                        .col-sm-4
                            if card._id
                                input#cardCustomerNumber.form-control(type='text',value=card.number.substring(6))
                            else 
                                input#cardCustomerNumber.form-control(type='text')

                    .form-group
                        label.col-sm-4.control-label(for='cardName') 姓名:
                        .col-sm-6
                            input#cardName.form-control(type='text',value=card.name)

                    .form-group
                        label.col-sm-4.control-label(for='cardPassword') 银行卡密码:
                        .col-sm-6
                            input#cardPassword.form-control(type='password',value=card.password)

                    .form-group
                        label.col-sm-4.control-label(for='blockPassword') 区块链账户密码:
                        .col-sm-6
                            input#blockPassword.form-control(type='password',value=card.blockPassword)

                    .form-group
                        label.col-sm-4.control-label(for='blockAccountBalance') 区块链账户余额:
                        .col-sm-6
                            input#blockAccountBalance.form-control(type='text',value=card.blockAccountBalance)

                    .form-group
                        label.col-sm-4.control-label(for='blockAccount') 区块链账户地址:
                        .col-sm-6
                            input#blockAccount.form-control(type='text',value=card.blockAccount)

                    //-验证结果，只有失败才会提醒
                    .form-group
                        .col-sm-10.col-sm-offset-4
                        .inputChecking#checkCard
                    .form-group
                        .col-sm-offset-3.col-sm-3
                        button.btn.btn-info#createCard 确认

